body{
  background-color: rgb(219, 219, 219) !important;
}
footer{
  text-align: center;
  margin-top: 20px;
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}
header {
  text-align: center;
  line-height: 2em;
  background: white;
  margin-top: 20px;
  
}
.col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
main {
  text-align: center;
  }
.card{
  width: 100%;
  margin-top: 20px;
  /* border: 2px solid black !important; */
}
.card-title{
  font-weight: bold;
}

#middle{
  margin-right: 10px;
  margin-left: 10px;
}
ul {
  list-style-position: inside;
}